html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
}
.pageWrapper {
  width: 100%;
  margin: 70px auto 0 auto;
}
form {
  font-family: 'Raleway', sans-serif;
}
p {
  line-height: 1.25;
}
.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
}
.header div {
  min-height: 100%;
  padding: 20px;
}
.header div h1 {
  font-size: 2.3rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .header div h1 {
    font-size: 1.7rem;
  }
}
.header div h1 a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.header div button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2.3rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .header div button {
    font-size: 1.7rem;
  }
}
.header div button a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.header div button a i {
  margin-left: 5px;
}
.container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.8);
}
.container nav .inner {
  background-color: black;
  border-radius: 10px;
  min-height: 200px;
  min-width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container nav .inner h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
}
.container nav .inner ul {
  width: 100%;
}
.container nav .inner ul li {
  font-size: 2.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav .inner ul li a {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2.5px;
}
.container nav .inner ul li a:hover {
  background-color: #333333;
}
.container nav .inner a {
  color: white;
  text-decoration: none;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
.banner {
  width: 80%;
  margin: 100px auto 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.banner .banner-inner {
  text-align: center;
}
.banner .banner-inner h2 {
  font-size: 4rem;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  font-weight: bold;
}
@media (max-width: 500px) {
  .banner .banner-inner h2 {
    font-size: 2rem;
  }
}
.banner .banner-inner p {
  margin-top: 10px;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .banner .banner-inner p {
    font-size: 1.75rem;
  }
}
.about {
  max-width: 1020px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
}
.about h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.about .split {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.about .split p {
  max-width: 500px;
  width: 45%;
  font-size: 1.6rem;
}
.about p {
  width: 90%;
  font-size: 1.6rem;
  margin: 0 auto;
}
.contact {
  width: 100%;
  padding: 80px 0;
  background-color: #323232;
}
.contact h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}
.contact p {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.contact form {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #0a0a0a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact form input,
.contact form textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  width: 90%;
  color: #ccc;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #ccc;
}
.contact form button {
  background: rgba(0, 0, 0, 0);
  border: 3px solid #ccc;
  color: #ccc;
  border-radius: 5px;
  padding: 10px 30px;
}
