@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

html {
	// font-size: 62.5%;
	font-family: @main-font;
	min-height: 100%;
}

.pageWrapper {
	width: 100%;
	margin: 70px auto 0 auto;
}

form {
	font-family: @main-font;
}

p {
	line-height: 1.25;
}