@import '../../styles/variables.scss';
footer {
    width: 100%;
    color: white;
    background: $color-black;
    text-align: center;
    padding: 20px;
    font-size: $font-small;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: $color-blue;
    }
    a:hover {
        color: lighten($color-blue, 10%);
    }
}